
#nav-bar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(45deg, #00a087, yellow);

}
  #nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}
#nav-bar .header {
  line-height: 2.2;
  font-size: 200%;
  padding: 10px;
  float: left;
}
#nav-bar button {
  height: 55px;
  width: 100px;
  float: right;
  background-color: #9cda34;
  border-color: #73e8c6;
  border-radius: 9px;
  border-width: 2px;
  color: #0ca580;
  font-size: 102%;
  margin-right: 1.5em;
  margin-top: 1em;
}

#nav-bar:hover button {
  background-color: #70ca4b;
  color: black;
}